/*font*/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500');

@font-face {
   font-family: "Dosis";
   src: url('../assets/font/Dosis-Regular.ttf') format('truetype');
}

html {
    min-height : 100%;
    position   : relative;
}

body {
    background: url("../img/backgrounds/background1.png") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Dosis', sans-serif;
    src: url('../assets/font/Dosis-Regular.ttf') format('truetype');
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
    text-align: center;
}

.texttitle {
    color: #000;
    font-size: 17px;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 32px;
    color: #000;
    line-height: 50px;
}

h3 {
	font-size: 18px;
    font-weight: 300;
    color: #000;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }

/***** Top content *****/

.inner-bg {
    padding: 60px 0 80px 0;
}

.top-content .text {
	color: #000;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p {
  opacity: 0.8;
  text-align: center;
}

.top-content .description a {
  -webkit-filter: drop-shadow(2px 3px 3px #222);
}
.top-content .description a:hover,
.top-content .description a:focus {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}

.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #0d0d0d;
	background: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form button.btn {
	width: 100%;
  background-color: #232323;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

/***** Footer *****/

footer {
	color: #000;
  padding-top: 10px;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0;
						border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

}
